/* custom scrollbar */
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

.react-datepicker-wrapper {
  display: block !important;
}

.vertical-timeline-element-title {
  font-size: 14px !important;
}
.vertical-timeline-element-subtitle {
  font-size: 12px !important;
  margin: 0 !important;
}
.vertical-timeline-element-comment {
  font-size: 12px !important;
}
.vertical-timeline-element-date {
  font-size: 14px !important;
}


.bg-gradient {
  background: rgb(221, 240, 255);
  background: linear-gradient(
    90deg,
    rgb(213, 236, 255) 0%,
    rgba(255, 255, 255, 1) 60%
  );
}
